
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Daftar Mahasiswa <%= link_to  "Add", new_mahasiswa_path, :class => 'btn btn-primary' %></h1> <br><br>
            <table class="table">
                <thead>
                    <th>Nama</th>
                    <th>Aksi</th>
                </thead>
                <tbody>
                    <% @mahasiswas.each do |mahasiswa| %>
                    <tr>
                        <td><%= mahasiswa.nama %></td>
                        <td>
                            <%= link_to  "Lihat", mahasiswa_path(mahasiswa), :class => 'btn btn-info' %>
                            <%= link_to 'Edit', edit_mahasiswa_path(mahasiswa), :class => 'btn btn-success' %>
                            <%= link_to 'Destroy', mahasiswa_path(mahasiswa),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } , :class => 'btn btn-danger' %>
                        </td>
                    </tr>    
                    <% end %>

                </tbody>
            </table>
        </div>
    </div>
</div>
